$white:#F0F0F0;
$light-red:#EBD6D6;
$dark-red:#984B4B;
$light-blue:#B8B8DC;
$dark-blue:#A6A6D2;
$darken-blue:darken($color: $dark-blue, $amount: 20%);

$font:16px;
$font-h1:$font*3;
$font-h2:$font*1.8;
$font-h3:$font*1.5;
$font-h4:$font*1.3;
$font-size-l:$font + 5px;
$font-size-s:$font - 2px;
